<a href="https://colab.research.google.com/github/saifulislamsarfaraz/Machine-Learning/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('marital status.csv')

In [4]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [5]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [6]:
handle = df['status'].median()

In [7]:
handle

0.0

In [8]:
df.status = df.status.fillna(handle)

In [9]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [10]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

In [11]:
x = df[['age']]

In [12]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [13]:
y = df['status']

In [14]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [15]:
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.30,random_state=1)

In [18]:
xtest

    age
3    28
16   16
6    23
10   26
2    24
14   34

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
model = LogisticRegression()

In [22]:
model.fit(xtrain,ytrain)

LogisticRegression()

In [26]:
model.predict(xtest)

array([1., 0., 0., 0., 0., 1.])

In [28]:
model.score(xtest,ytest)

0.8333333333333334

In [29]:
model.predict_log_proba(xtest)

array([[-1.24837581, -0.3382325 ],
       [-0.00975069, -4.63528891],
       [-0.22113243, -1.61752309],
       [-0.68693148, -0.69940176],
       [-0.33113871, -1.26622258],
       [-3.70294385, -0.02495977]])